html {
    background-color: rgb(240, 229, 229);
    font-family: 'Courier Prime';
    font-size: 48px;
    scroll-behavior: smooth;
    align-items: center;    
    margin: 0;
}
body {
    overflow-x:hidden;
    width: 100%;
    margin: auto;
    font-family: 'Courier Prime', monospace;
    font-size: 48px;
}
#header {
    background-color: rgb(0, 255, 255);
    width:100%;
    height: 15%;
    overflow: hidden;
    position: absolute;
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#menus {
    background-color: rgb(80, 255, 255);
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin:auto;
}
#name {
    grid-column: 1;
    text-align: center;
    margin: 10%;
}
#name a {
    padding-left: 4%;
}
.pageLinks {
    display: grid;
    grid-template-columns: 22% 30% 20% 30%;
    vertical-align: center;
    padding: 5px 0px 5px 30px;
    height: 75px;
}
.pageLinks li {
    display: inline;
    text-align: center;
}
.pageLinks li a {
    width:fit-content;
    padding-left: 20px;
    padding-right: 20px;
}
.links:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
.links:hover {
    padding: 5px;
    padding-bottom: 2px;
    font-size: 110%;
}
.links:visited {
    color: rgb(0, 0, 0);

}
li {
    list-style-type: none;
}
#javaImage {
    background-size: 20px 30px;
}
footer {
    margin-top: 15%;;
    text-align: center;
    align-items: center;
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 80px;
}
footer h4 {
    grid-column: 2;
    grid-row: 1;
}
#socialLinks {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    width: 100%;
    height: 80px;
    align-self: center;
}
#socialLinks a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
    border-radius: 20px;
    font-size: 65px;
    margin: 10px;
    transition: all .5s ease-in-out;
}
#socialLinks a:active {
    background-color: transparent;
}
#socialLinks a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
#socialLinks a:hover {
    padding: 5px;
    padding-bottom: 2px;
    color: rgb(119, 119, 119);
    font-size: 300%;
    transform: scale(1.5) perspective(1px)
}
.mobileMenu {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 255, 255);
    overflow-y: hidden;
    transition: 0.5s;
}
.mobileMenu-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.mobileMenu a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #000000;
    display: block;
    transition: 0.3s;
}
.mobileMenu .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.menuButton {
    grid-column: 3;
}
@media (max-width: 1100px) {
    .normalMenu {
        display: none;
    }
    .mobileMenu {overflow-y: auto;}
    .mobileMenu a {font-size: 40px}
    .mobileMenu .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}
@media (min-width:1100px) {
    
    #container-2 {
        grid-row: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .mobileMenu {
        display: none;
    }
    .menuButton {
        display: none;
    }
}